


/* /////////////////////////STYLE.CSS/////////////////////////// */




.second-section {
    background-color: #f4ead3; /* Remplacez cette couleur par celle que vous préférez */
  }
  
  
  body, html, main {
    background-color: #f4ead3; /* Couleur souhaitée */
  }
  
  
  .bg-custom {
    background-color: #f4ead3; /* Changez cette valeur hexadécimale pour la couleur désirée */
  }
  
  
  .bg-custom {
    background: linear-gradient(to bottom, #f4ead3 0%, #f4ead3 90%, #DEB887 100%);
  }
  
  
  #couleur {
    background: linear-gradient(to bottom, #DEB887 0%, #DEB887 80%, #f4ead3 100%);
    width: 100%;
  }
  
  
  
  
  
  
  
  