#couleur {
    background-color: #DEB887; /* Couleur de fond personnalisée */
  }
  
  
  
  @media (max-width: 576px) {
    .container {
      padding-left: 34px;
      padding-right: 34px;
    }
  }
  